fast_hdbscan
h5py
tables
openpyxl
google-generativeai
cohere==5.5.8
#cuml==0.6.1.post1
datamapplot==0.3.0
fastdtw==0.3.4
ipython==8.12.3
keplergl==0.3.2
matplotlib==3.9.1
numpy==1.25.0
openai==1.35.10
pandas==2.2.2
Pillow==10.4.0
plotly==5.14.1
protobuf==4.25.3
python_dateutil==2.8.2
python_Levenshtein==0.25.1
Requests==2.32.3
scikit_learn==1.4.2
scipy==1.14.0
seaborn==0.13.2
sentence_transformers
squarify==0.4.3
statsmodels==0.14.1
stqdm==0.0.5
st-paywall==0.1.8
streamlit==1.36.0
streamlit_extras==0.4.3
streamlit_kepler_component==0.0.11
streamlit_keplergl==0.3.0
torch==2.3.1
umap==0.1.1
umap_learn==0.5.3
xgboost==2.1.0
